<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cattlehealthmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CattleHealthManager">
        <activity android:name=".animal.AddAnimal" />
        <activity android:name=".Finance" />
        <activity android:name=".vet.VetList" />
        <activity android:name=".Food" />
        <activity android:name=".Medicals" />
        <activity
            android:name=".animal.MyAnimals"
            android:label="@string/title_activity_my_animals"
            android:theme="@style/Theme.CattleHealthManager.NoActionBar" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateUser" />
    </application>

</manifest>